# CENTRAL TENDENCYðŸ”¢

25/01/2022

In [7]:
import numpy as np
import pandas as pd 
from scipy import stats
from scipy.stats import skew
import matplotlib.pyplot as plt
import statistics as st
import plotly as pt

In [6]:
df=pd.read_csv("iris.csv")
df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Unnamed: 6,Unnamed: 7
0,23,4.6,3.6,1.0,0.2,Iris-setosa,NaN,NaN
1,14,4.3,3.0,1.1,0.1,Iris-setosa,NaN,#NAME?
2,15,5.8,4.0,1.2,0.2,Iris-setosa,NaN,17.87093333
3,36,5.0,3.2,1.2,0.2,Iris-setosa,NaN,NaN
4,3,4.7,3.2,1.3,0.2,Iris-setosa,NaN,#NAME?

In [8]:
ct=df['SepalLengthCm']
ct.head()

0    4.6
1    4.3
2    5.8
3    5.0
4    4.7
Name: SepalLengthCm, dtype: float64

mean

In [9]:
np.mean(ct)

5.843333333333334

In [10]:
np.mean(df['SepalLengthCm'])

5.843333333333334

median

In [11]:
np.median(ct)

5.8

mode

In [12]:
stats.mode(ct)

ModeResult(mode=array([5.]), count=array([10]))

percentiles

In [13]:
np.percentile(ct,99)

7.7

In [14]:
min(ct),max(ct)

(4.3, 7.9)

In [15]:
def range(data):
    max_val=max(data)
    min_val=min(data)
    range=max_val-min_val
    return range

In [16]:
range(ct)

3.6000000000000005

In [17]:
np.var(ct)

0.6811222222222223

In [18]:
np.std(ct)

0.8253012917851409

In [19]:
st.stdev(ct),st.pstdev(ct)

(0.8280661279778629, 0.8253012917851409)

skewness

In [20]:
skew(ct)

0.3117530585022961

boxplot

In [21]:
pt.boxplot(ct)

AttributeError: module 'plotly' has no attribute 'boxplot'